body {
	background-color: lightgrey;
}

.left {
	background-color: blue;
}

.right {
	background-color: red;
	text-align: center;
	color: white;
}

.inside {
	border: 1px solid white;
	display: inline;
	text-align: center;
	color: white;
	padding: 10px;
	margin: 10px;
	float: left;
	font-size: 50px;
}

.black {background-color: black;}
.green {background-color: green;}
.lightblue {background-color: lightblue;}
.orange {background-color: orange;}
.violet {background-color: violet;}
.red {background-color: red;}
.pink {background-color: pink;}
.grey {background-color: grey;}
.yellow {background-color: yellow;}

.pirmas {margin: 20px;}